@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Merienda:wght@500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    :root {

        /* --color-title: #5f4e48; */
        --color-title: #493c37;

    }

    html, body{
        @apply h-full w-full font-open
    }
    h1 {
        @apply text-5xl 2xl:text-7xl font-lora font-bold tracking-wide text-skin-title
    }
    h2 {
        @apply text-3xl 2xl:text-5xl font-lora font-medium tracking-wide text-skin-title
    }
    h3 {
        @apply text-xl font-lora font-medium tracking-wide text-skin-title
    }
    p {
        @apply text-base font-light sm:text-lg 2xl:text-2xl tracking-wide
    }
    a {
        @apply text-base sm:text-lg 2xl:text-2xl tracking-wide
    }
    span {
        @apply text-base font-light sm:text-lg 2xl:text-2xl tracking-wide
    }
    button {
        @apply text-base 2xl:text-xl
    }
    ion-icon{
        @apply text-xl 2xl:text-3xl font-semibold
        text-amber-900 hover:text-red-700
    }
}

@layer components{
    #__next {
        @apply w-full h-full
    }
    #whats-icon{
        @apply w-5 h-5 mr-2 text-black
    }
    #toggle-icon{
        @apply w-10 h-10 text-gray-700
    }
    #toggle-icon-close{
        @apply w-12 h-12 text-gray-700
    }
    #btn-card{
        @apply w-6 h-6 text-gray-700
    }

    /* GLOBAL STYLE */
    .aline{
        @apply px-6 sm:px-12 2xl:px-24
        py-2
    }
    .decorate-title{
        @apply underline underline-offset-8
        decoration-4 decoration-yellow-500
    }
    .decorate-title-2{
        @apply underline underline-offset-8
        decoration-4 decoration-green-500
    }
    .btn-whatsapp{
        @apply w-auto h-auto px-4 py-2
        flex justify-center items-center
        bg-green-400 hover:bg-green-300
        border border-green-600 rounded-full
    }
    .btn-phone{
        @apply w-auto h-auto px-4 py-2 ml-2
        flex justify-center items-center
        border border-gray-600 rounded-full
    }
    .btn-toggle{
        @apply w-auto h-auto
        flex justify-center items-center
    }
    .btn-toggle-close{
        @apply w-auto h-auto p-6
        flex justify-center items-center
    }
    .btn-go-top{
        @apply w-12 h-12 p-2 fixed bottom-2 right-2
        flex justify-center items-center
        bg-green-500 rounded-full
    }
    .btn-cardapio{
        @apply w-1/2 h-12 mt-2
        bg-white bg-opacity-70
        backdrop-blur-xl drop-shadow-md rounded-md
        active:bg-green-400
    }

    /* SITE */
    .site {
        @apply w-full h-full relative
    }
    .nav-wrapper{
        @apply w-full h-auto py-2 fixed top-0 z-50
        bg-white bg-opacity-30 font-normal tracking-wide
        backdrop-blur-lg drop-shadow-md rounded-b-md
    }
    .nav-mobile{
        @apply w-full h-full relative
        flex justify-start items-center sm:hidden
    }
    .menu-toggle{
        @apply w-full h-full fixed top-0 z-50
        bg-black bg-opacity-30 font-normal tracking-wide
        backdrop-blur-lg
    }
    .toggle-links{
        @apply w-full h-full px-6
        flex flex-col justify-start items-start
        space-y-4
    }
    .nav-desk{
        @apply w-full h-full
        hidden sm:flex justify-start items-center
    }
    .nav-logo{
        @apply w-1/4 h-full
    }
    .logo-image{
        @apply w-auto h-8 2xl:h-12 drop-shadow-md
    }
    .nav-social{
        @apply w-full h-full px-12
        space-x-4 2xl:space-x-8
        flex justify-end items-center
    }
    .nav-sections{
        @apply w-full h-full
        flex justify-start items-center
        space-x-8 2xl:space-x-16
    }
    .nav-sections li a{
        @apply w-auto h-auto tracking-wide font-semibold
    }
    .nav-link {
        @apply text-gray-600
    }
    .nav-link-houver {
        @apply text-amber-900
        underline underline-offset-8 decoration-4 decoration-yellow-500
    }
    .toggle-link {
        @apply text-gray-600
    }
    .toggle-link-houver {
        @apply text-amber-900
        underline underline-offset-8 decoration-4 decoration-yellow-500
    }
    .pizzaria{
        @apply w-full h-full py-12 bg-fixed bg-center relative
    }
    .call-action{
        @apply w-1/2 h-auto absolute top-40 2xl:top-60 left-32 z-30
        hidden md:flex flex-col justify-center items-start
    }
    .call-contato{
        @apply w-auto h-auto absolute hidden
        bottom-12 2xl:bottom-24 left-6 2xl:left-12
        md:flex flex-col justify-center items-start
    }
    .call-image{
        @apply w-auto h-72 2xl:h-96 absolute hidden md:flex
        bottom-[18rem] 2xl:bottom-[22rem] left-12
    }
    .call-image-mobile{
        @apply w-auto h-56 z-30
        flex absolute top-40 left-8 sm:hidden
    }
    .call-text{
        @apply w-2/3 h-full mt-0 2xl:mt-24
    }
    .call-text p {
        @apply w-full h-full
    }
    .arvore{
        @apply w-full sm:w-2/3 absolute bottom-0 right-0
    }

    /* CARDAPIO SECTION*/
    .cardapio{
        @apply w-full h-auto px-2 sm:px-12 py-12
        flex flex-col justify-start items-center
        bg-yellow-50
    }
    .cardapio h2{
        @apply w-full sm:w-1/2 mb-8 text-center
        !text-4xl font-bold decorate-title-2
    }
    .cardapio-card{
        @apply w-full h-full flex flex-col lg:hidden
    }
    .cardapio-select{
        @apply w-full h-full
        flex justify-center items-center
    }
    .cardapio-select select{
        @apply w-1/2 h-full p-2
        bg-white
    }
    .cardapio-desk{
        @apply w-full h-auto
        hidden xl:flex justify-start items-start
    }
    .desk-article{
        @apply w-full h-auto px-4 2xl:px-8
        flex flex-col justify-start items-center
    }
    .desk-header{
        @apply w-full h-40
        flex justify-start items-center
    }
    .desk-header h3{
        @apply w-full h-full self-center
        flex justify-center items-center
        text-4xl 2xl:text-5xl text-center
    }
    .desk-pizza-card{
        @apply w-full h-auto
    }
    .desk-card-description{
        @apply w-full h-full px-4 py-2 mt-4
        flex flex-col justify-center items-start
        text-justify
    }
    .desk-bebidas{
        @apply w-full h-auto
        flex justify-center items-start
        space-y-4
    }




    .select-tipo{
        @apply w-full h-full
    }
    .pizza-produto{
        @apply w-full h-full py-6 px-4
    }
    .pizza-header{
        @apply w-full h-full mt-8
        flex justify-center items-end
    }
    .pizza-header h3{
        @apply w-full h-full ml-6
        text-left text-5xl font-merienda
    }
    .pizza-title-image{
        @apply w-auto h-24
    }
    .pizza-body{
        @apply w-full h-auto
        flex flex-col justify-start items-center
    }
    .pizza-info{
        @apply w-full h-auto py-12
        flex flex-col justify-start items-center
    }
    .pizza-info-title{
        @apply w-full h-full mb-4
        text-2xl font-lora border-b-2 border-skin-title
    }
    .pizza-info div{
        @apply w-full h-full
        flex justify-start items-center
    }
    .pizza-info div p{
        @apply w-1/2 h-full font-medium capitalize
    }
    .pizza-info div span{
        @apply w-1/2 h-full text-end
    }
    .pizza-card{
        @apply w-full h-auto relative mt-10
        flex flex-col justify-center items-center
    }
    .pizza-card-header{
        @apply w-full h-auto p-2
        flex justify-center items-center
    }
    .pizza-card-header h3{
        @apply w-full h-full ml-6 capitalize
        text-left sm:text-center
    }
    .pizza-card-image{
        @apply w-20 h-20 sm:w-24 sm:h-24 2xl:w-28 2xl:h-28
    }
    .pizza-card-description{
        @apply w-full h-full px-4 py-2 mt-6
        flex flex-col justify-center items-start
        text-justify
    }
    .pizza-card-description > p{
        @apply w-full h-auto py-2
        text-gray-700
    }
    .bebidas-card{
        @apply w-full h-auto mt-1
        flex flex-col justify-start items-start
    }
    .bebidas-card div{
        @apply w-full h-auto
        flex justify-start items-start
    }
    .bebidas-card div p{
        @apply w-full h-auto
    }


    /* HISTORIA SECTION*/
    .historia{
        @apply w-full h-full relative
        flex flex-col justify-start items-center
    }
    .historia h2{
        @apply w-full h-auto sm:w-1/2 py-12 text-center
        !text-2xl font-bold decorate-title-2
        uppercase font-merienda
    }
    .historia p{
        @apply w-full 2xl:w-1/2 h-auto px-6 py-4
        font-light text-justify text-gray-600
    }
    .footer{
        @apply w-full h-16 px-4 py-6 text-white
        flex justify-start items-center
        bg-[#493c37] text-sm
    }

    .notas-wraper {
        @apply w-full h-full bg-slate-300
        flex flex-col justify-center items-center
    }

    .notas {
        @apply w-full sm:w-2/3 h-full
        flex flex-col justify-center items-center
    }

    .notas article {
        @apply w-full px-4 sm:px-0 sm:w-2/3 h-auto py-12
        flex-col sm:flex justify-center sm:justify-start items-center
        space-x-6
    }

    .notas-article-form {
        @apply w-full sm:w-1/2 h-full
        flex flex-col justify-center items-center
    }

    .notas-article-form h3 {
        @apply w-full h-full mb-12
        text-3xl  font-semibold
    }

    .notas-form {
        @apply w-full h-full
        flex flex-col justify-center items-center
    }

    .notas-input-wraper {
        @apply w-full h-auto mt-12 sm:mt-0
        flex sm:flex sm:justify-start items-center
        space-y-4 sm:space-x-2
    }

    .notas-input-wraper label {
        @apply w-full sm:w-1/2 text-2xl
     font-normal
    }

    .notas-input {
        @apply w-full py-2 px-2
        focus:outline-none rounded-md
        text-black text-2xl
    }

    .notas-button {
        @apply w-full flex mt-12
        justify-start sm:justify-end space-x-2 sm:space-x-6
    }

    .results-wraper {
        @apply w-full h-full flex justify-start items-start
        space-y-4 sm:space-x-6
    }

    .results-wraper h3 {
        @apply w-auto sm:w-1/2 h-full
        text-2xl font-semibold
    }

    .results {
        @apply w-full h-full flex p-2
        justify-center items-center sm:space-x-6
        border border-gray-700
    }

    .results span {
        @apply w-full
        text-lg
    }

    .text-valor {
        @apply text-red-500
    }

    .nav-mobile {
        @apply w-full h-full px-6 py-4
        flex lg:hidden justify-start items-center
    }
}
